<!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
  </head>
  <body>

    <div class="main-content">
      {{>header}}
      <p>This site was created by D-Nice.</p>
      <img class="c3po" src="images/c3po.png">
    </div>
    {{>footer}}
  </body>
</html>
