<!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Not Found</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <p>{{msg}}</p>
    </div>
    {{>footer}}
  </body>
</html>
